/* 滚动条 */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    overflow: hidden;

    /* 版本支持 */
    --version-color: rgb(28, 2, 135);
    /* 警告 */
    --warn-color: #f66;

}

.version-tips {
    color: #F44336;
    font-family: "monospace";
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 240px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}

#examples {
    transform-origin: left top;
    transform: scale(0.8);
    width: 375px;
    height: 803px;
    background-image: url("../images/iPhone13.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 10px;
    right: -65px;
    z-index: 2;
}

#examples iframe {
    width: 348px;
    height: 707px;
    margin-left: 14px;
    margin-top: 65px;
    border: none;
    border-radius: 5px 5px 44px 44px;
}

.head {
    line-height: 50px;
    box-shadow: 0 0 6px 3px rgb(158 158 158 / 32%);
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 1;
}

.head>h2 {
    display: inline-block;
    background-image: url("../logo.png");
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 60px;
}

.head>nav {
    display: inline-block;
    margin-left: 50px;
}

.head>nav>span,
.head>nav>a {
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    color: black;
    width: 50px;
    text-align: center;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.head>nav>span:hover,
.head>nav>a:hover {
    font-weight: 800;
}

.head>nav>a::after {
    content: " ";
    display: inline-block;
    background-image: url("../images/link.svg");
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12px;
    right: -22px;
}

.menu {
    display: none;
    border-right: 1px solid rgb(223, 220, 220);
    left: 0;
    width: 240px;
    height: calc(100vh - 50px);
}

.content {
    left: 240px;
    width: calc(100vw - 540px);
    height: calc(100vh - 50px);
}

.menu,
.content {
    overflow: auto;
    top: 50px;
    position: fixed;
    padding: 20px 10px;
}

[active='yes'] {
    font-weight: 800;
    border-bottom: 2px solid black;
}

.menu>h3 {
    line-height: 35px;
    font-size: 18px;
}

.menu ul {
    margin-left: 10px;
}

.menu span {
    line-height: 2em;
    font-size: 14px;
    cursor: pointer;
    font-family: "monospace";
    display: inline-block;
}

.menu span:hover {
    text-decoration: underline;
}

.menu span.sub-title {
    text-decoration: none;
    cursor: default;
    font-weight: 800;
    padding-top: 5px;

}


/* 文档 */
.content {
    padding: 10px 30px;
    position: relative;
}

.content>header {
    font-size: 28px;
    padding: 30px 0;
    font-weight: 800;
}

.content>h2 {
    font-size: 20px;
    line-height: 2em;
    padding: 20px 0;
}

.content>h3 {
    font-size: 16px;
    line-height: 2em;
    padding: 15px 0;
}

.content>h4 {
    font-size: 12px;
    padding: 15px 0 5px 0;
    position: relative;
    margin-left: 10px;
}

.content>h4::before {
    content: "#";
    color: #4051b6;
    position: absolute;
    left: -0.7em;
    margin-top: -0.05em;
    padding-right: 0.5em;
    font-size: 1.2em;
    line-height: 1;
    font-weight: bold;
}

.content>p {
    text-indent: 2em;
}

.content>p,
.content>div {
    line-height: 1.6em;
    color: #3c3939;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0;
    white-space: normal;
}

.content a {
    font-size: 16px;
    color: #0286b6;
    margin: 0 5px;
    border-bottom: 1px solid #0286b6;
    padding: 0 5px;
    font-family: "cursive";
    font-weight: 600;
}

.content a:hover {
    font-weight: 800;
    border-bottom: 2px solid #04a9e4;
}

.content ul,
.content ol {
    font-size: 13px;
    line-height: 2.4em;
    margin-left: 2.5em;
}

.content ol>li {
    list-style-type: decimal;
}

.content ul>li {
    list-style-type: disc;
}

.content .oneline {
    display: block;
    padding: 10px 0 10px 100px;
    text-indent: 0;
}

.content .title {
    color: #000000;
    font-weight: 800;
    padding: 0 5px;
    font-size: 20px;
    vertical-align: middle;
    font-family: "cursive";
}

.content .version,
.content .warn {
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.content .version::before,
.content .warn::before {
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

.content .version {
    border-left-color: var(--version-color);
}

.content .warn {
    border-left-color: var(--warn-color);
}

.content .version::before {
    content: "V";
    background-color: var(--version-color);
}

.content .warn::before {
    content: "!";
    background-color: var(--warn-color);
}

.content .gray {
    color: #454545;
    font-weight: 800;
}

.content .important {
    color: rgb(255, 0, 0);
    font-weight: 800;
    padding: 0 3px;
}

.content .special {
    font-weight: 800;
    border-bottom: 2px dashed #030303;
    margin: 0 5px;
}

pre {
    position: relative;
    outline: 1px solid #d3d3d4;
    overflow: auto;
}

pre:hover {
    outline-color: black;
}

pre>.copy-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('../images/copy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: transparent;
    outline: none;
    border: none;
}

.copy-icon[copied] {
    outline: 1px solid #343848;
    border-radius: 0 4px 4px 0;
}

.copy-icon[copied='no'] {
    outline: 1px solid #ff0000;
}

.copy-icon[copied]:before {
    position: absolute;
    left: -64px;
    display: block;
    border-radius: 4px 0 0 4px;
    width: 64px;
    height: 32px;
    line-height: 32px;
    top: -1px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    background-color: #343848;
    white-space: nowrap;
    content: attr(data-before);
}

.copy-icon[copied='no']:before {
    background-color: #ff0000;
}

.content table>tbody>tr>* {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #c1bcbc;
}

.content table>*>tr>td,
.content table>*>tr>th {
    padding: 5px 10px;
    color: #3c3939;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6em;
}

.content table>tbody>tr>*:first-child {
    border-width: 0 1px 1px 1px;
}

.content table>tbody>tr:nth-child(2n) {
    background-color: #F5F5F5;
}

.content table>tbody>tr:nth-child(2n+1) {
    background-color: #fff;
}

.content table>thead>tr {
    background-color: #d8e5f0;
    border: 1px solid #c1bcbc;
    color: #fff;
    white-space: nowrap;
}

.content table.support td {
    width: 100px;
}

/* 编辑按钮 */

a.to-editor-btn {
    margin: 30px 0 40px 0;
    display: inline-block;
    font-size: 16px;
}

a.to-editor-btn svg {
    margin-right: 0.3em;
    vertical-align: sub;
}