.git
.DS_Store
.project
.github
.gitignore
node_modules
docs
src/**/*
!src/libs/**/*
!src/components/**/*
!src/tools/**/*
!src/themes/**/*
dist
shime-uni.d.ts 
offiaccount.config.js 
build
vite.config.ts
tsconfig.json