/**
 * 这里是uniQuery主体样式变量红色设置
 */

/* 颜色 */
$uniquery-default-color: #333333; // 基本
$uniquery-primary-color: #007aff; // 主要
$uniquery-success-color: #4cd964; // 成功
$uniquery-warning-color: #f0ad4e; // 警告
$uniquery-error-color: #dd524d; // 错误