/**
 * 这里是uniQuery主体样式变量默认设置
 */

/* 颜色 */
$uniquery-default-color: #333333; // 基本
$uniquery-primary-color: #dd524d; // 主要
$uniquery-success-color: #f10b03; // 成功
$uniquery-warning-color: #f0ad4e; // 警告
$uniquery-error-color: #795548; // 错误